# Python
__pycache__/
*.pyc

# Environment
.env

# Database
*.db
database/*.db
database/*.db.old

# ML models
*.pkl
models/*.pkl

# Dataset (optional)
models/*.csv

# Uploads
static/uploads/

# Virtual env
venv/
env/
.venv/

# VS Code
.vscode/

# OS files
Thumbs.db
.DS_Store